[{sasl,[{errlog_type,error}]},
 {ex_admin,
     [{repo,'Elixir.MicoseBackend.Repo'},
      {module,'Elixir.MicoseBackend'},
      {modules,
          ['Elixir.MicoseBackend.ExAdmin.Dashboard',
           'Elixir.MicoseBackend.ExAdmin.Book']}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {micose_backend,
     [{ecto_repos,['Elixir.MicoseBackend.Repo']},
      {'Elixir.MicoseBackend.Endpoint',
          [{render_errors,
               [{view,'Elixir.MicoseBackend.ErrorView'},
                {accepts,[<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.MicoseBackend.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {url,[{host,<<"micose.pierrepironin.fr">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true},
           {secret_key_base,
               <<"Z18xBiAFnaxab9weCxJZ4AWmCwH8O9iUxhv67uzBADCFm/K7rwMOQVOjT8eDIMr/">>}]},
      {'Elixir.MicoseBackend.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"micose_backend_prod">>},
           {pool_size,20}]}]},
 {xain,[{after_callback,{'Elixir.Phoenix.HTML',raw}}]}].
